/*
Style Name: Site Build 
Description: Class File
Author: Add your name here, yes you. 
Version: 1.0
Tags: Let's Build Something!
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
  Fonts
-------------- */


/* ------------ */

/* -------------
  Plugins
-------------*/

/* -------------
  Reset
-------------*/

body {
   margin: 0;
   padding: 0;
   color: #626262;
   font-family: 'Sanchez', serif;
   animation: bugfix infinite 1s;
   -webkit-animation: bugfix infinite 1s;
   font-size: 16px;
}

h1, h2, h3, h4, p {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}

.hidden {
   display: none;
}

 /*------------ Build a Box ------------*/

 .box-model {
   background: rgb(211, 211, 211);
   padding: 1em;
   margin: 1em;
 }

 /*------------ End Build a Box ------------*/

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles
   02. Hero Image                        


/* _____________________________________

   01. General Styles
   _____________________________________ */

   img {
      display: block;
      width: 100%;
   }

   input, textarea {
      padding: .75em;
      border: 1px solid #ccc;
      background-color: #f7f7f7;
      border-radius: 5px;
      width: 95%;
      margin-bottom: 1em;
   }

   input[type="submit"] {
      width: inherit;
      padding: 1em 2em;
      background: #9a2018;
      color: #fff;
      border: none;
      float: right;
   }

   /*------------ Floats ------------*/

   .f-left {
      float: left;
   }

   .f-right {
      float: right;
   }

   /*------------ End Floats ------------*/

/*-------------- End Grid --------------*/

/* _____________________________________

   02. Hero Image
   _____________________________________ */

   .hero {
      margin: 0 0;
   }

   .hero-img img {
      width: 100%;
   }

   .hero-img {
      display: grid;
      grid-column: span 4;
      margin-bottom: 1rem;
   }

   .hero-img > * {
      grid-column: 1;
      grid-row: 1;
   }

   .hero-img h2 {
      background: #fff;
      padding: 1em 1.75em;
      font-size: 1em;
      font-weight: 300;
   }

   .hero-img h2 span {
      font-size: .65em;
      color: #9a2018;
   }

   .hero-img h2.left {
      align-self: flex-end;
      justify-self: start;
      margin-left: 1em;
   }

   .hero-img h2.right {
      align-self: flex-end;
      justify-self: end;
      margin-right: 1em;
   }

   @media screen and (min-width: 48em) {

      .hero-img {
         display: grid;
         grid-column: span 6;
         margin-bottom: 1rem;
      }

      .hero-img h2.left {
         align-self: flex-end;
         justify-self: start;
         margin-left: 10vw;
      }
   
      .hero-img h2.right {
         align-self: flex-end;
         justify-self: end;
         margin-right: 2em;
      }

   }



   /*-------------- End Hero Image --------------*/