@use 'fonts';

$primary-color: #FFD700;
$secondary-color: #6A0DAD;
$accent-color: #bfc071;
$body-text-color: white;
$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Arial MT Pro', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;