// Colours Used for my Portfolio
$primary-color: #FFD700;   // Yellow
$secondary-color: #6A0DAD; // Purple
$background-color: #000000;
$white-color: #FFFFFF;

// Typography
$heading-font: 'Montserrat', sans-serif;
$body-font: 'Arial MT Pro', sans-serif;